.episode-container {
    display: grid;
    grid-template-columns: 7rem 1fr;
    gap: 1rem;
    margin: 0.5rem;
}
.episode-container div h4{
    margin-top: 0;
}
.episode-container .tv-image {
    max-width: 7rem;
}
