.result-container {
    background-color: var(--teal);
    margin: 1rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: 210px auto;
    gap: 1rem;
    color: var(--fresh);
}
.result-header {
    place-self: center stretch;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .result-container {
        grid-template-columns: auto;
        margin: 0;
        border-top: 2px solid var(--watermelon);
    }
}