:root {
  --matte: #414141;
  --fresh: #CCDFCB;
  --watermelon: #FF6A5C;
  --teal: #056571
}

body {
  background-color: var(--matte);
  text-decoration: none;
}
a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

